<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <title>Compiladores</title>
  <style>
    /* Remove default bullets */
    ul,
    #myUL {
      list-style-type: none;
    }

    /* Remove margins and padding from the parent ul */
    #myUL {
      margin: 0;
      padding: 0;
    }

    /* Style the caret/arrow */
    .caret {
      cursor: pointer;
      user-select: none;
      /* Prevent text selection */
    }

    /* Create the caret/arrow with a unicode, and style it */
    .caret::before {
      content: "\25B6";
      color: black;
      display: inline-block;
      margin-right: 6px;
    }

    /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
    .caret-down::before {
      transform: rotate(90deg);
    }

    /* Hide the nested list */
    .nested {
      display: none;
    }

    /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
    .active {
      display: block;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Compiladores</a>
  </nav>

  <div class="container">
    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="tokens-tab" data-toggle="tab" href="#tok" role="tab" aria-controls="home"
          aria-selected="true">HTML-JSON</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="err-tab" data-toggle="tab" href="#err" role="tab" aria-controls="profile"
          aria-selected="false">Errores</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="var-tab" data-toggle="tab" href="#var" role="tab" aria-controls="contact"
          aria-selected="false">Variables</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="ast-tab" data-toggle="tab" href="#ast" role="tab" aria-controls="contact"
          aria-selected="false">AST</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="py-tab" data-toggle="tab" href="#py" role="tab" aria-controls="contact"
          aria-selected="false">Python</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="tok" role="tabpanel" aria-labelledby="tok-tab">
        <br>
        <textarea class="form-control" readonly rows="25" id="html_x"> <%= html_x%> </textarea>
        <br>
        <button onclick="saveTextAsFile(html_x.value,'download_html.html')" class="btn btn-primary">Guardar en el PC</button>
        <br>
        <br>
        <br>

        
        <textarea class="form-control" readonly rows="25" id="json_x" > <%= json_x%> </textarea>
        <br>
        <button onclick="saveTextAsFile(json_x.value,'download_json.json')" class="btn btn-primary">Guardar en el PC</button>

      </div>
      <div class="tab-pane fade" id="err" role="tabpanel" aria-labelledby="err-tab">
        <br><br>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Tipo</th>
              <th>Linea</th>
              <th>Columna</th>
              <th>Descripcion</th>
          </tr>
          </thead>
          <tbody>
            <% errores.forEach(function(ert){ %>
              <tr>
                  <td><%= ert[0]%></td>
                  <td><%= ert[1]%></td>
                  <td><%= ert[2]%></td>
                  <td><%= ert[3]%></td>
                  <td><%= ert[4]%></td>
              </tr>
            <% })%>

          </tbody>

          
              
      </table>
      </div>
      <div class="tab-pane fade" id="var" role="tabpanel" aria-labelledby="var-tab">
        <br>
        <br>
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Tipo</th>
              <th>Linea</th>
          </tr>
          </thead>
          
          <tbody>
            <% vars.forEach(function(ert){ %>
              <tr>
                  <td><%= ert[0]%></td>
                  <td><%= ert[1]%></td>
                  <td><%= ert[2]%></td>
                  
              </tr>

            <% })%>
          </tbody>

      </table>
      </div>
      <div class="tab-pane fade" id="ast" role="tabpanel" aria-labelledby="ast-tab">
        <br>
        <%- ast%>

        <br>
        <br>
        <textarea class="form-control" readonly rows="25" id="py_x" > <%= ast_json%> </textarea>
        <br>
        <a href="/json_comp" >Ver solo el JSON</a>

      </div>
      <div class="tab-pane fade" id="py" role="tabpanel" aria-labelledby="py-tab">
        <div class="form-group">
          <br>
          <textarea class="form-control" readonly rows="25" id="py_x" > <%= python%> </textarea>
          <br>
          <button onclick="saveTextAsFile(py_x.value,'download_python.py')" class="btn btn-primary">Guardar en el PC</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

  <script>
    var toggler = document.getElementsByClassName("caret");
    var i;

    for (i = 0; i < toggler.length; i++) {
      toggler[i].addEventListener("click", function () {
        this.parentElement.querySelector(".nested").classList.toggle("active");
        this.classList.toggle("caret-down");
      });
    } 
  </script>

<script>
  function saveTextAsFile(textToWrite, fileNameToSaveAs)
  {
    var textFileAsBlob = new Blob([textToWrite], {type:'text/plain'}); 
    var downloadLink = document.createElement("a");
    downloadLink.download = fileNameToSaveAs;
    downloadLink.innerHTML = "Download File";
    if (window.webkitURL != null)
    {
      // Chrome allows the link to be clicked
      // without actually adding it to the DOM.
      downloadLink.href = window.webkitURL.createObjectURL(textFileAsBlob);
    }
    else
    {
      // Firefox requires the link to be added to the DOM
      // before it can be clicked.
      downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
      downloadLink.onclick = destroyClickedElement;
      downloadLink.style.display = "none";
      document.body.appendChild(downloadLink);
    }
  
    downloadLink.click();
  }
</script>

</body>

</html>